.app.light {
  --bg-color: #D9D9D9;
  --inverted-bg-color: #303030;

  --primary-color: #303030;
  --secondary-color: #303030;
  --inverted-primary-color: #D9D9D9;
  --inverted-secondary-color: #D9D9D9;
}